main {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 10px;
    padding-top: 80px;
    display: flex   ;
    flex-direction: column;
    gap: 20px;
    background-color: #f4f1de;

}
.App {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f1de;
}
.editable-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editable-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editable-text {
    border-bottom: 1px solid #ccc;
    cursor: text;
    min-width: 100px;
    padding: 2px 5px;
}

.editable-input {
    border: none;
    border-bottom: 1px solid #007bff;
    outline: none;
    font-size: inherit;
    background: transparent;
    padding: 2px 5px;
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
    transition: transform 0.2s;
}

.edit-icon:hover {
    transform: scale(1.2);
}


.bg-topNav {
    background-color: #e07a5f;
    color: #f4f1de;
}
.topNav-text{
    color: #f4f1de;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 200px;
    background-color: #352208;
    padding: 10px;
    transition: transform 0.3s ease;
    color: #e1bb80;
    display: flex;  
    flex-direction: column;  
}
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;  /* Push items down */
    display: flex;
    flex-direction: column;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
    margin-bottom: 1px;
}

.sidebar-menu li:hover {
    background-color: #e1bb80;
    color: #352208;
}

.sidebar-menu li svg {
    margin-right: 10px;
}

.logout {
    margin-top: auto;
    color: red;
}

.top-buttons {
    background: transparent !important;
    border: none !important;
    color: #352208!important;  /* Adjust text color if needed */
    box-shadow: none !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.top-buttons:hover {
    color: #f4f1de !important; 
    background-color: rgba(224, 122, 95, 0.6) !important;
}

.item-content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.item-center {
    flex-grow: 1;
    text-align: center;
}

.delete-Item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #352208;
}
.delete-Item:hover {
    color: red;
}
  

@media screen and (max-width: 1268px) {
    main {
        margin-left: 200px;
    }
    
}