main {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f4f1de;
    min-height: 100vh;
}

.App {
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f1de;
}
.main-content {
    margin-left: 200px;  
    margin-top: 60px;  
    padding: 1rem;
    min-width: 85%;
}
.full-width-container {
    width: 100%;
    padding: 0 2rem; /* optional padding */
  }
@media screen and (max-width: 1268px) {
    main {
        margin-left: 200px;
    }
    
}

/* orchestration.css */

.table-hover tbody tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .table .badge {
    font-size: 0.8rem;
    padding: 0.35em 0.6em;
    border-radius: 1rem;
  }
  
  .custom-table-container {
    background: #fff;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
  }
  
  .custom-table-container:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  }
  



  .dark-mode {
    background-color: #121212 !important;
    color: #e0e0e0;
  }
  
  .dark-mode .table {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  .dark-mode .table th,
  .dark-mode .table td {
    border-color: #2c2c2c;
  }
  
  .dark-mode .sidebar {
    background-color: #1f1f1f;
  }
  
  .dark-mode .custom-table-container {
    background-color: #1f1f1f;
    color: #e0e0e0;
  }

  .hover-bg:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  