main {
    max-width: 980px;
    margin: 0 auto;
    padding: 30px 10px;
    padding-top: 80px;
    display: flex   ;
    flex-direction: column;
    gap: 20px;
    background-color: #f4f1de;
    min-height: 100vh;
}
.App {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f1de;
}

@media screen and (max-width: 1268px) {
    main {
        margin-left: 200px;
    }
    
}
