{% extends "Base.html"%}

{% block title %}Bautomation Banywhere{% endblock %}


{%block content%}
    <div class="container-fluid" style="background-color: rgb(237, 255, 255); margin-top: 56px;">
        <a href="#" class="btn btn-primary mt-2 mb-2" id="capture">
            <i class="bi bi-record2" ></i>
            <span>Capture</span>
          </a>
        <div class="container-fluid ps-5 pe-5 pb-5 border" id="processFlowContainer">
            
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasProperties" aria-controls="offcanvasProperties">Enable body scrolling</button>


        <!-- //right side navbar -->
        <div class="offcanvas offcanvas-end mt-5" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasProperties" aria-labelledby="offcanvasProperties">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasPropertiesLabel">Properties</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row ">
                    <div class="col d-flex justify-content-end">
                        <a href="#"class="btn btn-danger mb-3" id="recordBtn"><i class="bi bi-record-circle"></i></i> Record
                        </a>
                    </div>
                </div>
               
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="imgName" disabled>
                    <label for="imgName">Image Name</label>
                </div>

                <div class="form-floating">
                    <select class="form-select" id="actionBtn" aria-label="Action" disabled>
                      <option selected disabled>Open this select menu</option>
                      <option value="Left Click">Left Click</option>
                      <option value="Right Click">Right Click</option>
                      <option value="Double Left Click">Double Left Click</option>
                      <option value="Double Right Click">Double Right Click</option>
                    </select>
                    <label for="actionBtn">Action</label>
                </div>

                <div class="card mt-3" style="height: 100%;">
                    <div class="card-body " id="actionFlow" >
                        <div id="screenshot-container">
                
                        </div> 
                    </div>
                </div>
                
            </div>
        </div>
        <!-- end of right side navbar -->
    </div>
{% endblock %}